@charset "UTF-8";
/*
    !! Comentários de Desenvolvimento !!

    "/!\" significa "atenção, incompleto ou refazer";

    "root" --> Tema principal de cores e tamanhos de fontes
*/

:root {
    --primaryColor: #FFFFFF;
    --secondaryColor: #000000;
    --white: #FFFFFF;
    --black: #000;

    --topTitleSize: 120px;
    --topicSize: 60px;
    --h3Size: 30px;
    --pSize: 18px;
    --navbarLinkSize: 21px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.primary-color {
    color: var(--primaryColor);
}

.secondary-color {
    color: var(--secondaryColor);
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.perfect-centered-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 60vh;
    min-height: 300px;
    /*background-image: url(por-do-sol.jpg);*/
    background-color: aliceblue;
    padding: 0px 50px;
    margin-bottom: 20px;
}

.top-title {
    min-width: 60%;
    height: 100%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
}

.top-title h1 {
    font: var(--topTitleSize) "Arial, Helvetica, sans-serif";
}

nav {
    width: 100%;
    height: fit-content;
    margin-bottom: 150px;
    padding: 10px 50px;
    position: sticky;
    overflow: hidden;
    top: 0px;
    background-color: var(--white);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 30px;
}

li a {
    text-decoration: none;
    font-size: var(--navbarLinkSize);
    color: var(--black);
}

main {
    width: 100%;
    padding: 0px 50px;
    background-color: var(--white);
    margin-bottom: 200px;
}

.container {
    width: 100%;
    padding: 50px 0px;
}

.container .img-block {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    /* /!\ */
}

.img-field img {
    width: 150%;
}

.container .text-block {
    width: 70%;
    padding: 0px 50px;
}

.text-block h2 {
    font-size: var(--topicSize);
    margin-bottom: 50px;
}

.text-block p {
    text-align: left;
}

footer {
    width: 100%;
    padding: 20px 50px 0px 50px;
    background-color: rgb(138, 124, 230);
}

footer h3 {
    font-size: var(--h3Size);
    margin-bottom: 30px;
}

footer .field {
    padding: 10px 20px 10px 0px;
    display: flex;
    align-items: center;
}

footer ul {
    list-style-type: none;
}

.field [class*="-block"] {
    display: inline-block;
}

.logo-icon-block {
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    border-radius: 30%;
}

.logo-text-block {
    padding: 8px 12px;
}

.icon-field {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa {
    font-size: 30px;
    color: white;
}

.end {
    width: 100%;
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 740px) {
    :root {
        --topTitleSize: 70px;
        --topicSize: 50px;
        --navbarLinkSize: 18px;
    }

    main {
        padding: 0px 18px;
    }

    .container [class*="-block"] {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        padding: 0;
    }

    .container p  {
        text-align: justify;
    }

}

@media only screen and (max-width: 280px) {
    :root {
        --topTitleSize: 50px;
        --topicSize: 30px;
        --navbarLinkSize: 16px;
        --h3Size: 20px;
    }

    nav {
        padding-left: 10px;
    }

    nav ul {
        width: 100%;
        padding: 0;
    }

    nav ul li {
        margin: 0px 10px 0px 0px;
    }

    .img-field {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
    }

    footer {
        padding-right: 10px;
        padding-left: 10px;
    }

}