@charset "UTF-8";
/*
    !! Comentários de Desenvolvimento !!

    "/!\" significa "atenção, incompleto ou refazer";

    "root" --> Tema principal de cores e tamanhos de fontes
*/

:root {
    /* Variáveis para fontes */

    --big-title: 120px;
    --big-subtitle: 50px;
    --big-topic: 40px;
    --big-paragraph: 21px;
    --big-info: 18px;

    --medium-title: 70px;
    --medium-subtitle: 30px;
    --medium-topic: 25px;
    --medium-paragraph: 18px;
    --medium-info: 16px;

    --little-title: 40px;
    --little-subtitle: 25px;
    --little-topic: 20px;
    --little-paragraph: 14px;
    --little-info: 14px;

    /* Tamanho da imagem principal */
    --big-top-img-field: 300px;
    --medium-top-img-field: 250px;
    --little-top-img-field: 200px;
    
    /* Temas de cores */
    --primaryColor: #FFFFFF;
    --secondaryColor: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

.primary-color {
    color: var(--primaryColor);
}

.secondary-color {
    color: var(--secondaryColor);
}

.flex-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

header {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 300px;
    background-color: rgb(206, 206, 206);
    padding: 50px 0px;
    margin-bottom: 20px;
}

.top-img, .top-title {
    margin-bottom: 50px;    
}

.top-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.top-img-field {
    width: var(--big-top-img-field);
    height: var(--big-top-img-field);
    border-radius: 50%;
    background-color: #ffffff;
}

.top-title {
    width: 50%;
    padding: 50px 0px;
}

.top-title h1 {
    width: 100%;
    font: var(--big-title) "Arial, Helvetica, sans-serif";
    margin-bottom: 20px;
}

.top-title p {
   width: 100%; 
   font-size: var(--big-paragraph);
}

.social-media {
    display: inherit;
    justify-content: center;
    align-content: space-between;
    width: 50%;
}

.social-media .icon-link {
    display: inline-block;
}

.icon-link a i {
    font-size: 40px;
    padding: 20px;
}

nav {
    width: 100%;
    height: fit-content;
    margin-bottom: 150px;
    padding: 10px 50px;
    position: sticky;
    overflow: hidden;
    top: 0px;
    background-color: #FFFFFF;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 30px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

main {
    width: 100%;
    padding: 0px 50px;
    background-color: #FFFFFF;
    margin-bottom: 200px;
}

.container {
    width: 100%;
    padding: 50px 0px;
    margin: 20px 0px;
}

.container .text-block {
    width: 70%;
    padding: 0px 50px;
}

.text-block h2 {
    font-size: var(--big-topic);
    margin-bottom: 50px;
}

.text-block p {
    text-align: left;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding: 50px 50px 0px 50px;
    background-color: rgb(138, 124, 230);
}

footer h3 {
    font-size: var(--big-topic);
    margin-bottom: 30px;
}

footer ul {
    list-style-type: none;
}

.footer-section {
    /* /!\ */
    width: 30%;
    margin-bottom: 50px;
}

.end {
    width: 100%;
    padding: 15px;
    text-align: center;
}

/*
@media only screen and (max-width: 1024px) {

    .top-img, .top-title {
        width: 100%;
        justify-content: center;
        text-align: center;
    }    
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {

    .top-img .top-img-field {
        width: var(--medium-top-img-field);
        height: var(--medium-top-img-field);
    }

    .top-title h1 {
        font-size: var(--medium-title);
    }

    p {
        font-size: var(--medium-paragraph);
    }
    
    main {
        padding: 0px 18px;
    }

    .container [class*="-block"] {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .container p  {
        text-align: justify;
    }
    
    .footer-section {
        width: 100%;
    }
}

@media only screen and (max-width: 769px)and (min-width: 481px) {

    .top-img-field {
        width: var(--little-top-img-field);
        height: var(--little-top-img-field);
    }

    .top-title h1 {
        font-size: var(--little-title);
    }

    p {
        font-size: var(--little-paragraph);
    }

    nav {
        padding-left: 10px;
    }

    nav ul {
        width: 100%;
        padding: 0;
    }

    nav ul li {
        margin: 0px 10px 0px 0px;
    }
    
    main {
        padding: 0px 18px;
    }

    .container [class*="-block"] {
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }

    .container p  {
        text-align: justify;
    }
    
    footer {
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
    }

    .footer-section {
        width: 100%;
    }
}

@media only screen and (max-width: 489px) and (min-width: 320px){
    
}
*/